---
const {
  heading = "Where You Can Find Us",
  description = "Nestled in the heart of Meersig, Walvis Bay, our location is more than just a street address — it's a beacon of hope and care within the community.",
  phone = "+264 64 22 0798",
  fax = "088 647 240",
  email = "hishouse@iway.na",
  address = "14 Main Road, Meersig, Walvis Bay, Namibia",
} = Astro.props;
import "@fortawesome/fontawesome-free/css/all.min.css";
---

<style>
  /* Container */
  .contact-section {
    position: relative;
    width: 100%;
    height: 450px;
    background: url("/public/assets/contact.png") center center/cover no-repeat;
    display: flex;

    align-items: center;

    border-radius: 8px;
    margin: 70px 0px;
  }

  /* Overlay Box */
  .overlay-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin-left: 100px;
    box-shadow: 0px 4px 9px 0px #00000040;
  }

  .overlay-box h2 {
    font-weight: 900;
    /* font-family: "Satoshi regular"; */
    font-size: 30px;
    margin-bottom: 10px;
  }

  .overlay-box p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .contact-details {
    margin-top: 10px;
    font-size: 16px;
  }

  .contact-details div {
    display: flex;
    gap: 15px;
    margin: 5px 0;
    color: #2f3396;
    margin-bottom: 15px;
    align-items: center;
  }
  .contact-details i {
    color: #2f3396;
  }

  .contact-details a {
    font-family: "Satoshi regular";
    font-weight: 400;
    color: #2f3396;
    text-decoration: underline;
  }

  .contact-details a:hover {
    color: #101355;
  }

  @media (min-width: 48em) {
    .contact-section.mobile {
      display: none;
    }
  }
  @media (max-width: 48em) {
    .contact-section.mobile img {
      width: 100%;
      display: block;
    }
    .contact-section {
      display: none;
    }
    .contact-section.mobile {
      display: block;
      height: auto;
      margin: 40px 0;
      position: static;
      background: transparent;
    }
    .overlay-box {
      max-width: 100%;
      width: 100%;
      margin: 0;
      box-shadow: none;
      border: 1px solid #dfdfdf;
      border-radius: 0;
      height: auto;
    }
  }
  /* .contact-details a:hover {
    text-decoration: underline;
  } */
</style>

<div class="contact-section">
  <!-- Overlay Box -->
  <div class="overlay-box">
    <h2>{heading}</h2>
    <p>{description}</p>
    <div class="contact-details">
      <div>
        <i class="fas fa-phone"></i>
        <a href={`tel:${phone}`}>{phone}</a>
      </div>
      <div>
        <i class="fas fa-fax"> </i>
        <a href={`tel:${fax}`}>{fax}</a>
      </div>

      <div>
        <i class="fas fa-map-marker-alt"></i>
        <a href="#">{address}</a>
      </div>
      <div>
        <i class="fas fa-envelope"></i>
        <a href={`mailto:${email}`}>{email}</a>
      </div>
    </div>
  </div>
</div>
<div class="contact-section mobile">
  <img src="../assets/map-mobile.png" alt="Map" />
  <!-- Overlay Box -->
  <div class="overlay-box">
    <h2>{heading}</h2>
    <p>{description}</p>
    <div class="contact-details">
      <div>
        <i class="fas fa-phone"></i>
        <a href={`tel:${phone}`}>{phone}</a>
      </div>
      <div>
        <i class="fas fa-fax"> </i>
        <a href={`tel:${fax}`}>{fax}</a>
      </div>

      <div>
        <i class="fas fa-map-marker-alt"></i>
        <a href="#">{address}</a>
      </div>
      <div>
        <i class="fas fa-envelope"></i>
        <a href={`mailto:${email}`}>{email}</a>
      </div>
    </div>
  </div>
</div>
